<!-- Welcome Section -->
<section class="welcome-section">
    <h1>Welcome to My Famous Paintings Website</h1>
    <p class="intro-text">
      My name is Yonatan Tadesse. This website is dedicated to showcasing collections of famous paintings. It has been created using Angular as part of my personal hobby project.
    </p>
    <p class="details-text">
      Explore a rich collection of famous paintings by renowned artists such as Cezanne, Van Gogh, Leonardo da Vinci, and many others. Enjoy discovering the beauty and history of these masterpieces.
    </p>
    <div class="image-container">
      <img src="https://i.pinimg.com/originals/f0/81/ed/f081edfae7df005847518ed71b2f9bcf.jpg" alt="Painting Image">
    </div>
  </section>
  