<p>update-user works!</p>
<form ngSubmit="updateUser()">
    <div>
        <label>
            FirstName:
            <input name="firstName" [(ngModel)]="user.firstName" placeholder="firstName">
        </label>
    </div>
    <div>
        <label>
            LastName:
            <input name="lastName" [(ngModel)]="user.lastName" placeholder="lastName">
        </label>
    </div>
    <div>
        <label>
            Username:  
            <input name="username" [(ngModel)]="user.username" placeholder="username">
        </label>
    </div>
    <div>
        <label>
            Email:
            <input name="email" [(ngModel)]="user.email" placeholder="email">
        </label>
    </div>
    <div>
        <label>
            New Password:
            <input name="password" [(ngModel)]="user.newPassword" placeholder="password">
        </label>
    </div>
    <div>
        <label>
            Repeat Password:        
            <input name="repeatPassword" [(ngModel)]="user.repeatPassword" placeholder="repeatPassword">
        </label>
    </div>
    <div>
        <button type="submit">Update</button>
    </div>
</form>
