<!-- <p>footer works!</p> -->
<footer class="footer">
    <div class="container">
        <p class="test-muted text-center">
            <a href="https://compro.miu.edu" target="_blank" rel="noopener">
                <img src="assets/images/compro-web-logo-442x112.webp" height="60" alt="MIU Compro">
            </a>                
            <br/>
            <small class="text black-50 text-center">&copy; 2020 Maharishi International University. All Rights Reserved. </small>
        </p>
    </div>
</footer>

