<h2 class="section-title">Available Paintings</h2>
<ul class="painting-list">
    <li *ngFor="let painting of displayedPaintings" class="painting-item">
        <a [routerLink]="['/paintings', painting._id]" class="painting-link">{{ painting.name }}</a> 
        <span class="painting-details">by {{ painting.artist }} [{{ painting.year }}]</span>
    </li>
</ul>
<!-- Navigation Buttons -->
<div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1" class="nav-button">Previous</button>
    <button (click)="nextPage()" [disabled]="currentPage * paintingsPerPage >= paintings.length" class="nav-button">Next</button>
</div>
